@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}

a {
  text-decoration: none;
}

li {
   list-style-type: none;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  border-radius: 4px;
  border: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  width: 1200px;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.nav {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.nav__list {
  width: 560px;
  margin: 0;
  padding: 0;
}

.logo {
  margin-right: 30px;
}

.user-menu {
  max-width: 300px;
  margin-left: auto;
}

.main__container {
  flex-grow: 1;
}

.main__title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
}

/*навигация и фильтры */
.filters__form {
  display: flex;
}

.filters__form-infrastructure,
.filters__form-housing {
  width: 150px;
}

.filters__form-housing {
  margin-right: 140px;
}

.filters__form-price {
  width: 288px;
  margin-right: 70px;
}

.filters__btn {
  width: 191px;
}

.filters__btn button {
  width: 191px;
  height: 36px;
}

.filters__apply {
  margin-bottom: 32px;
}

.nav__link,
.filters__title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.filters__title {
  color: #FFFFFF;
}

.filters__list {
  margin: 0;
  padding: 0;
}

.filters__item {
  line-height: 23px;
}

/* пользовательское меню */
.user-menu__button,
.catalog__item-more {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
}

.nav__icon-search {
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.nav__icon-favorites {
  background-image: url(../images/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.favorites__meter {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 10px;
}
/* основные блоки */
.hero {
  background-color: rgba(131, 179, 211, 0.2);
  background-image: url("../images/index/divider.svg"),
                    url("../images/index/hero-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom,
                       top;
}

.hero__img {
  display: block;
  margin: 0 auto;
}

.hotel {
  margin-bottom: 56px;
  background-color: #82B3D3;
  background-image: url("../images/catalog/filtres.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF;
}

.hotel__container {
  padding: 35px 70px 70px;;
}

/* хлебные крошки */
.breadcrubs {
    margin: 0;
    padding: 0;
}

.breadcrubs__home {
  background-image: url("../images/catalog/home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrubs__hotel {
  font-size: 16px;
}
/* заголовки и текст */

.tagline__title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.catalog__title {
  margin-right: 200px;
}

.tagline__text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.description__title,
.catalog__item-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 16px;
}

.description__title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.description__text {
  text-align: center;
  margin: 0;
}
/* рекомендации */
.advantage__header {
  padding: 69px 274px;
}

.advantage__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantage__item {
  display: flex;
}

.card {
  width: 400px;
  padding: 102px 85px;
  box-sizing: border-box;
}

.advantage__item_theme_dark {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantage__item_theme_light {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage__item_theme_medial {
  background-color: rgba(131, 179, 211, 0.2);
}

.recomendations__header {
  padding: 64px 347px;
}

.recomendations__list {
  margin: 0;
  padding: 0;
  display: flex;
}

.recomendations__item {
  width: 400px;
  padding: 81px 85px;
}

.icon-home {
  background-image: url("../images/index/housing.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-food {
  background-image: url("../images/index/food.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.icon-souvenirs {
  background-image: url("../images/index/souvenirs.svg");
  background-repeat: no-repeat;
  background-position: center;
}
/* фильтры в поиске отелей */
.catalog__header {
  display: flex;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.filter-by-price {
  width: 292px;
  font-family: 'PT Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin-right: 70px;
}

.sorting {
  display: flex;
  margin: 0;
  padding: 0;
}

.sorting__button {
  width: 48px;
  height: 48px;
}

.sorting__item:not(:last-child) {
  margin-right: 8px;
}

.sorting__list,
.sorting__tile,
.sorting__icons {
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.sorting__icons {
  background-image: url("../images/catalog/icons.svg");
  border: 2px solid #000000;
}

.sorting__list {
  background-image: url("../images/catalog/list.svg");
}

.sorting__tile {
  background-image: url("../images/catalog/tile.svg");
}

/* карточки отелей */
.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0 70px;
  margin-bottom: 20px;
}

.catalog__item {
  width: 340px;
  min-height: 438px;
  margin-bottom: 20px;
  border: 1px solid #E6E6E6;
}

.catalog__item-container {
  padding: 20px;
}

/* Кнопки каталога */
.filters__apply,
.favorites {
  background-color: #82B3D3;
}

.in-favorites {
  background-color: #7DB54F;
}

.filters__reset {
  background-color: transparent;
}

.catalog__item-more {
  background-color: #756157;
}

.raiting {
  font-family: 'PT Sans';
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
}
/* пагинация */
.pagination__list {
  display: flex;
  width: 1060px;
  margin: 40px 70px 60px;
  padding: 0;
}

.pagination__item {
  /* display: flex;
  align-items: center; */
  width: 60px;
  height: 60px;
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  background: #82B3D3;
  border-radius: 4px;
}

.pagination__item:not(:last-child) {
  margin-right: 8px;
}

.pagination__item:first-child {
  color: #000000;
  background-color: #F2F2F2;
}

.dots {
  color: #000000;
  background-color: transparent;
}
/* нижний поиск отелей и подписка */
.hotel-search {
  padding: 96px 304px;
  text-align: center;
}

.subscribe__index {
  background-color: #82B3D3;
  background-image: url("../images/index/subscribe.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.subscribe__container {
  padding: 96px 258px 104px;
}

.subscribe__form {
  display: flex;
}

.subscribe__label {
  display: inline-block;
  width: 450px;
  height: 50px;
}

.subscribe__catalog .tagline__title {
  color: #333333;
}

.subscribe__index .tagline__title,
.subscribe__index .tagline__text {
  color: #FFFFFF;
}

/* кнопки подписки и нижнего поиска отелей*/
.hotel-search__btn,
.subscribe__btn {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}

.hotel-search__btn {
  display: inline-block;
  width: 376px;
  height: 52px;

  background-color: #756157;
  border-radius: 4px;
}

.subscribe__btn {
  width: 232px;
  height: 52px;
  padding: 0;
  background-color: #82B3D3;
  border: transparent;
  border-radius: 0px 4px 4px 0px;
  box-sizing: border-box;
}

.email__input {
  width: 452px;
  height: 52px;
  padding: 0;
  padding-left: 20px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
  border: transparent;
}
/* footer */
.footer__container {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  padding: 40px 70px 30px;

}
/* ссылки в футере */
.contact-links {
  display: flex;
  margin: 0;
  padding: 0;
}

.vk,
.telegram,
.youtube {
  display: block;
  width: 48px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.vk {
  background-image: url(../images/vk.svg);

}

.telegram {
  background-image: url(../images/telegram.svg);
}

.youtube {
  background-image: url(../images/youtube.svg);
}

.telephone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
